@import "../../styles/variables.scss";

.recipes {
  padding: 20px 2px;

  &__content {
    display: flex;
  }
}

.topBlock {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  width: 400px;
  display: flex;
}

.selectedRecipes {
  display: block;
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  color: $blue;

  &:hover {
    text-decoration: underline;
  }
}

.filtration {
  flex: 1 1 10%;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    span {
      font-weight: 500;
      margin-right: 3px;
    }
  }
}

.cards {
  flex: 0 0 90%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 29px;


  &>*:not(:last-child) {
    margin-right: 10px;
  }
  &>*{
    flex: 1 1 50%;
  }
}