$red: #FE5F55;
$hoverRed: #cc3d36;
$lightWhiteBlue: #F7F7FF;
$lightBlue: #BDD5EA;
$blue: #577399;
$darkBlue: #495867;
$orange: #FFC148;
$yellow: #FFE000;
$green: #64C641;
$light-gray: #F8F8F8;
$light-black: rgba(0, 0, 0, 0.65);
$light-black2: rgba(0, 0, 0, 0.3);

$input-default: #D0CFCF;
$input-red: #CB3D40;
$input-placeholder: #7E7E7E;

$screen-phone: 360px;
$screen-tablet: 768px;
$screen-laptop: 1024px;

