@import "../../styles/variables.scss";
@import "../../styles/styles.scss";

.card {
  background: #FFFFFF;
  border-radius: 10px;

  img {
    border-radius: 10px;
  }
  &__content {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.photo {
  height: 300px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name {
  margin: 0px 0 10px 0;
  font-weight: 600;
  font-size: 18px;
  color: $red;
  white-space: nowrap;
  @extend %font-common;
}

.description {
  @extend %font-common;

  span {
    color: $red;
  }
}